/*
Theme Name: Boneex
Theme URI: http://www.boneex.se
Author: Christoffer Rydberg
Author URI: http://christoffer.rydberg.me
Version: 0.1
*/

/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/** GENERAL **/
html, body {
	font: 14px/1.6em 'Century Gothic', 'Arial', sans-serif;
	color: #535353;
}

html {
	overflow-y: scroll;
}

h1,h2,h3,h4,h5 {
	font-weight: bold;
	margin: 12px 0 6px 0;
}

p {
	margin: 0 0 30px 0;
}

.bread p,
.bread li {
	font-family: 'Arial', sans-serif;
	color: #7b7c7c;
	font-size: 16px;
}

.bread li {
	list-style: square inside;	
}

.bread .special p{
	margin-bottom: 12px;
}

h1,
.h1 {
	font-size: 48px;
	margin-bottom: 24px;
	font-family: 'Century Gothic', 'Arial', sans-serif;
}

h2,
.h2 {
	font-size: 1.5em;
	font-family: 'Century Gothic', 'Arial', sans-serif;
}

h3,
.h3 {
	font-size: 1.25em;
	font-family: 'Century Gothic', 'Arial', sans-serif;
}

.regular,
.regular-no-margin {
	font-weight: normal !important;
	font-size: 1.8em;
	line-height: 62px;
	margin-bottom: 20px;
}

.regular-no-margin {
	margin: 0;
	line-height: 1.4em;
}

h3 img,
h2 img {
	margin-right: 7px;
	position: relative;
	top: -3px;
}

.footer h3 {
	font-size: 1em;
}

a {
	font-weight: normal;
	color: #6cc9d4;
}

a:hover {
	color: #6cc9d4;
}

.container{
  max-width: none !important;
  width: 1170px;
}
/** Header **/
.navbar {
	min-height: 63px;
	margin: 0;
	border: none;
}
.navbar-default {
	background: rgba(100,195,207,.9);
	border-bottom: 1px solid #71cbd6;
}
.navbar-brand {
	padding: 0;
	line-height: 57px;
}

.navbar-brand span {
	position: relative;
	left: -9999px;
}

.navbar-default .navbar-nav>li>a {
	font-weight: bold;
	color: #f4f4f4;
	padding: 21px;
	text-shadow: 0 1px #5caab4;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.menu-item-object-page.current_page_item>a {
	background: #81cdd8;
	color: #f4f4f4;
}

/** FOOTER **/ 
.footer-analysis,
.start-analysis {
	border-top:1px solid #dedede; 
	padding: 40px 0;
	font-size: 1.75em;
	color: #7b7c7c
}

.start-analysis p,
.footer-analysis p{
	margin: 0;
	line-height: 50px;
}

.start-analysis p img,
.footer-analysis p img{
	position: relative;
	top: -7px;
	margin-right: 10px;
}
.footer {
	border-top:1px solid #dedede;
	padding: 18px 0;
}

.footer-menu {
}

.footer-menu ul li{
}

.footer-menu ul li a {
	padding: 0;
	padding-bottom: 3px;
	margin-bottom: 3px;
	color: #7c7c7b;
	font-weight: normal;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.footer-menu ul li a:hover {
	color: #000;
	text-decoration: none;
}

.footer-menu ul li.current_page_item a {
	color: #6cc9d4;
	font-weight: bold;
}

.footer-copyright {
	color: #a0a0a0;
}

.mini-text {
	font-size: 0.725em;
	position: relative;
	top: 18px;
	font-style: italic;
	color: #7b7b7c;
}

.mini-text a {
	color: #7b7b7c;
}

/** CONTENT **/
.splash {
	background: url('css/img/splash_bg.png') no-repeat;
	min-width: 100%;
	height: 335px;
}

.splash h1 {
	padding-top: 130px;
	font-size: 54px;
	color: #fff;
	font-weight: normal;
	font-family: 'Century Gothic', 'Arial', sans-serif;

	text-shadow: 1px 0 3px rgba(24,143,153, .7);
}

.splash h2 {
	font-size: 20px;
	margin-top: -20px;
	color: #fff;
	font-weight: normal;
	font-family: 'Century Gothic', 'Arial', sans-serif;	

	text-shadow: 1px 0 2px rgba(24,143,153, .7);
}
.do-bone-analys-button-start {
	position: relative;
	top: 87px;
}
.do-bone-analys-button {
	position: relative;
	top: 95px;
}

.content {
	margin-top: 0;
}

.content-container {
	background: #f6f6f6;
	border-top:1px solid #dedede;
	padding: 30px 0 60px;
}
/** START **/ 
.start-boxes {
	padding: 64px 0 6px;
}
.start-boxes .col-xs-3{
	width: 29%;
}

.start-boxes .col-xs-5{
	width: 37.66666666666667%;
}

.start-boxes .col-xs-3 img {
	position: relative;
	top: -6px;
}

.start-boxes .col-xs-5 img {
	position: relative;
	top: 2px;
}
.start-boxes .col-xs-4 img {
	position: relative;
	top: -3px;
}

.start-boxes img {
	margin-right: 8px;
	float: left;
}

.start-boxes p {
	float: left;
	line-height: 46px;
	font-size: 19px;
	color: #7b7b7c;
}

.start-boxes p a {
	color: #7b7b7c;
}
.start-boxes p a:hover {
	text-decoration: none;
}
.content-container p img {
	margin-top: 25px;
}
.btn-start {
	top: -50px !important;
	right: 34px;
}
.long-text {
	display: none;
}

.price-information {
	height: 239px;
	padding: 50px 40px 30px 30px;
	width: 390px;
	background: url('css/img/bg-pris.png') no-repeat center;
}

.choosen-delivery-method {
	margin: 18px -15px 30px -15px;
}

.price-total {
	font-size: 1.5em;
}

#test-form h2 span {
	background: #6dcad5;
	color: #fff;
	text-shadow: 0 1px #62b6bf;
	padding: 6px 12px;
	margin-right: 12px;
}

#test-form h2 {
	margin: 0 0 30px 0;
}

#test-form fieldset {
	background: #fff;
	margin: 0 0 18px 0;
	padding: 36px;
	border: 1px solid #dcdcdc;
}

#test-form input[type="text"],
#test-form input[type="email"] {
	width: 100%;
	margin: 0 0 12px;
	padding: 17px 12px;
	background: #f6f6f6;
	border: 1px solid #dcdcdc;
	font-size: 20px;
}

#test-form input[type="text"]:focus,
#test-form input[type="email"]:focus {
	outline: 2px solid #6dcad6;
	border: none;
	background: #edf7f8;
	color: #6cc9d4;
}
#test-form input[type="text"]:focus::-webkit-input-placeholder,
#test-form input[type="email"]:focus::-webkit-input-placeholder {
	color: #6cc9d4;
}
#test-form input[type="text"]:focus:-moz-placeholder,
#test-form input[type="email"]:focus:-moz-placeholder {
	color: #6cc9d4;
}
#test-form input[type="text"]:focus::-moz-placeholder,
#test-form input[type="email"]:focus::-moz-placeholder {
	color: #6cc9d4;
}
#test-form input[type="text"]:focus:-ms-input-placeholder,
#test-form input[type="email"]:focus:-ms-input-placeholder {
	color: #6cc9d4;
}
::-webkit-input-placeholder {
	color: #7b7c7c;
}
:-moz-placeholder {
	color: #7b7c7c;
}
::-moz-placeholder {
	color: #7b7c7c;
}
:-ms-input-placeholder {
   color: #7b7c7c;
}

#test-form input[type="file"] {
	display: none;
}
.file-upload p {
	padding: 13px;
	margin-bottom: 0;
	width: 100%;
	background: #f6f6f6;
	border: 1px solid #dcdcdc;
}
.file-upload .btn-primary {
	width: 100%;
	margin: 0;
	height: 50px;
	line-height: 50px;
	padding: 0;
	font-weight: bold;
	font-size: 1.3em;
	border-radius: 2px;
}
#test-form input[type="submit"] {
	width: 50%;
	float: left;
	margin: 0;
	padding: 18px 0;
	font-size: 1.7em;
	font-weight: bold;
}

#test-form .checkboxes div {
	float: left;
	width: 50%;
	height: 36px;
	line-height: 36px;
	margin-bottom: 12px;
}

.test-form-message {
	font-weight: bold;
	font-size: 1.2em;
}

#test-form .box {
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	background: #fff;
	border: 1px solid #dcdcdc;
	position: relative;
	top: 6px;
	margin-right: 8px;
}

#test-form .box.checked {
	background: url(css/img/checkbox-checked.png) no-repeat center center;
	border: 1px solid #6bc7d2;
}
#test-form .checkboxes div.villkoren .box {
	top: 24px;
}
#test-form .checkboxes div.villkoren {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 70px;
	height: 70px;
}
.answer-home,
.answer-mail,
.villkoren,
.terms-toggle {
	cursor: pointer;
}
.terms-toggle {
	font-weight: bold;
}

.small-price-text {
	margin: 46px auto 0;
	font-size: 0.875em;
	font-style: italic;
	width: 74%;
	text-align: center;
}
.small {
	margin: 6px 0 12px;
	font-size: 0.875em;
	font-style: italic;
}
/** Hur gör jag **/
.step {
	float: left;
	margin-right: 2%;
	padding: 2px;
	font-size: 2.4em;
	border-radius: 100%;
	border: 2px solid #6dcad5;
	color: #6dcad5;
	background: #f6f6f6;
	padding: 7px 9px;
	position: relative;
	top: -5px;
}

.step-text {
	width: 90%;
	float: left;
	font-size: 16px;
}

/** ABOUT MENU **/
.about-menu {
	padding: 72px 0 18px;
	text-align: center;
}

.about-menu ul li{
	display: inline;
}

.about-menu ul li a {
	padding: 18px;
	color: #444;
	font-weight: bold;
}

.about-menu ul li a:hover {
	border-bottom: 3px solid #6cc9d4;
	text-decoration: none;
}

.about-menu ul li.current_page_item a {
	color: #6cc9d4;
	font-weight: bold;
}

/* KONTAKT */
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="text"],
.wpcf7 textarea {
	background: #fff !important;
}

/** HELPERS **/
::selection {
	background: #6cc9d4; /* Safari */
	color: #fff;
	}
::-moz-selection {
	background: #6cc9d4; /* Firefox */
	color: #fff;
}

button.close {
	background: url('css/img/close.png') no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	opacity: 1;
}
.close:hover,
.close:focus {
	background: url('css/img/close_hover.png') no-repeat;
}
.bone-disease-image { 
	margin: 30px 0 20px; 
}

.list-dot li{
	background: url(css/img/list-dot.png) no-repeat left center;
	  padding: 0 0 0 10px;
	  /* reset styles (optional): */
	  list-style: none;
	  margin: 0;
}

.list-dot {
	margin: 0 0 24px 0;
}

.list-check li{
	background: url(css/img/list-check.png) no-repeat left center;
	  padding: 0 0 0 18px;
	  /* reset styles (optional): */
	  list-style: none;
	  margin: 0;
}
.main-color {
	color: #6cc9d4;
}
.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
}
.modal-content {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}
.modal-header {
	background: #6dcad5;
	color: #fff;
	border-bottom: none;
}

.modal-header .close {
	margin: 5px;
}
.modal-body p {
	font-family: 'Arial', sans-serif;
}
.btn-primary {
	background: #6cc9d4;
	text-shadow: 0 1px #5caab4;
	border: none;
	margin: 12px;
	box-shadow: 0 2px 0 #ebebeb;
	font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus {
	text-decoration: none;
	background: #66bdc7;
	border: none;
}
.btn-sm {
	border-radius: 2px;
	padding: 8px 14px;
	font-size: 14px;
	position: relative;
	top: -5px;
	font-weight: bold;
}
.btn-lg {
	font-weight: normal;
	padding: 22px 65px;
	border-radius: 2px;
	font-size: 1.4em;
}
.pull-left {
	margin-left: 0;
}

.pull-right {
	margin-right: 0;
}

.smaller-6 {
	width: 45%;
}
.featured {
	color: #6cc9d4;
	font-weight: bold;
}
strong {
	font-weight: bold !important;
}
strong.featured {
	color: #6cc9d4;
}
a.bold {
	font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 490px;
	font-size: 20px;
	margin: 0 0 12px;
	padding: 17px 12px;
	background: #f6f6f6;
	border: 1px solid #dcdcdc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
	outline: 2px solid #6dcad6;
	border: none;
	background: #edf7f8;
	color: #6cc9d4;
}
input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: #6cc9d4;
}
input[type="text"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: #6cc9d4;
}
input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: #6cc9d4;
}
input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: #6cc9d4;
}
::-webkit-input-placeholder {
	color: #7b7c7c;
}
:-moz-placeholder {
	color: #7b7c7c;
}
::-moz-placeholder {
	color: #7b7c7c;
}
:-ms-input-placeholder {
   color: #7b7c7c;
}

input[type="submit"] {
	float: left;
	margin: 0;
	padding: 18px;
	font-size: 1.2em;
}